/* desktop */
@media (min-width: 769px) {
  .donate-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(277.57deg, #2baaed 0%, #2d6b9d 100%);
    color: white;
  }

  .donate-body .donate-body-middle {
    display: flex;
    flex-direction: row;
    margin-bottom: 3em;
  }

  .donate-circular-section-image {
    width: 100%;
  }

  .donate-body-paragraph {
    width: 75%;
    height: auto;
    margin-left: 5em;
    background-color: #fff;
    padding: 2em;
    border-radius: 20px;
    box-shadow: 7px 7px 11px rgb(0 0 0 / 16%);
  }

  .donate-bottom-section {
    margin-top: 3em;
  }

  .donate-bottom-subtitle {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #fdb72f;
  }

  .donate-bottom-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
  }

  .donate-bottom-contact .donate-bottom-contact-text {
    width: 50%;
    height: auto;
    margin-bottom: 2em;
  }
}

.donate-list-item {
  flex-basis: 100%;
  justify-content: space-between;
}

.donorbox-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.donate-bottom-high-five-image {
  height: 70%;
}

/* end of donate page desktop */

/* donate page mobile  --------------------------*/

@media (max-width: 768px) {
  .donate-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(277.57deg, #2baaed 0%, #2d6b9d 100%);
    color: white;
  }

  .donate-section .donate-header-img {
    display: none;
  }

  .donate-section .donate-header-paragraph {
    width: 100%;
    margin: 1em 0;
  }

  .donate-header-paragraph {
    display: flex;
    flex-direction: column;
  }

  .donate-body .donate-body-middle {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
  }

  .donate-circular-section {
    display: flex;
    justify-content: center;
  }

  .donate-circular-section-image {
    width: 75%;
    margin: 1em 0 3em 0;
  }

  .donate-body-paragraph {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .donate-bottom-section .donate-bottom-subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #fdb72f;
    margin-bottom: 1em;
    width: 90%;
  }

  .donate-bottom-section .donor-box-section {
    display: box;
  }

  .donate-bottom-section .donor-box-section .donate-bottom-section-highfive {
    width: 100%;
    height: auto;
    position: relative;
    top: -3em;
  }

  .donate-list {
    display: block;
    justify-content: center;
    margin-bottom: 3em;
  }

  .donate-list .donate-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .donate-list .donate-list-description {
    font-family: Roboto;
    text-align: center;
  }

  .donate-list .donate-list-img {
    margin-top: 2em;
    width: 15%;
  }

  .donate-bottom-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
  }

  .donate-bottom-contact .donate-bottom-contact-text {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }

  .donor-box-widget {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .donorbox-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .donorbox-widget {
    align-items: center;
    height: auto;
  }

  .donate-bottom-high-five-image {
    height: auto;
    width: auto;
  }
}

/* end of donate page mobile */

@media (min-width: 1201px) {
  .donate-bottom-section .donor-box-section {
    display: flex;
    justify-content: center;
  }

  .donate-bottom-section .donor-box-section .donate-bottom-section-highfive {
    width: 80%;
    height: auto;
  }

  .donate-list {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
  }

  .donate-list .donate-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
  }

  .donate-list .donate-list-description {
    font-family: Roboto;
    text-align: center;
    width: 80%;
  }

  .donate-list .donate-list-img {
    margin-top: 2em;
    width: 15%;
    height: auto;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .donate-list {
    display: flex;
    justify-content: center;
    padding: 0 5em;
    margin-bottom: 5em;
  }

  .donate-list .donate-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2em;
  }

  .donate-list .donate-list-description {
    font-family: Roboto;
    text-align: center;
    width: 100%;
  }

  .donate-list .donate-list-img {
    margin-top: 2em;
    width: 15%;
    height: auto;
  }

  .donate-bottom-section .donor-box-section {
    display: box;
  }

  .donate-bottom-section .donor-box-section .donate-bottom-section-highfive {
    width: 100%;
    height: auto;
    position: relative;
    top: -3em;
  }

  .donor-box-widget {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .donorbox-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.donate-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

.donate-bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}


.donate-bottom-section {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: black;
}

@media (max-width: 970px) {
  .donate-section {
    padding: 10% 0 3%;
  }
}

.donate-bottom-high-five-image {
  width: 100%;
}

.donate-heading {
  font-size: 55px;
  color: #fff;
  margin: 50px 0 25px;
}
