footer {
  background: #faa52d;
  padding: 6vh 0 10px 0;
  font-family: League Spartan;
  color: white;
  position: relative;
}

footer h1,
h2,
h3,
h4 {
  font-family: League Spartan;
}

.footer-contents {
  display: flex;
  flex-wrap: wrap;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  background: #f07015;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

.footer-links {
  margin-left: 15px;
}

.list-social li a {
  font-size: 45px;
  color: #ffffff;
}

.footer-logo-container {
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo-item {
  color: #f5f7fa;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  background-color: #f07015;
  padding: 8px;
  margin: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer-logo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-image {
  max-width: 100%;
  max-height: 100%;
}

.footer-copyright-text {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

footer .social-media-icon:hover {
  transform: scale(0.95);
}

.icon-size {
  font-size: 2.3rem;
}

footer a,
a:focus,
a:hover {
  color: white;
  text-decoration: none;
}

footer form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.red-text {
  color: #d46312;
}

footer label {
  font-weight: 400;
  font-size: 18px;
  font-family: Poppins;
}

#opt-in {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.email-input {
  position: relative;
  align-items: right;
}

.email-input input {
  width: 100%;
  background-color: #f07015;
  color: white;
  border: none;
  padding: 10px 45px 10px 10px;
  border-radius: 40px;
}

.email-input button {
  position: absolute;
  transform: translateY(-39px);
  right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fdf9d4;
  color: #8ac4d0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-input button:hover {
  background: #006b8f;
}

@media (max-width: 768px) {
  .footer-div {
    padding-top: 3vh;
  }
}
