#help .wrapper {
  margin-top: -20px;
  padding: 0 20px;
}
.help-title {
  font-size: 45px;
}

.helpP {
  padding-top: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-top: -10px;
  font-weight: 300;
  font-size: 17px;
}

.help-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.help-section .close {
  margin: 10px 15px 10px 0;
}

.help-section .content {
  background: #fff;
  border-radius: 25px;
}

.help-section .main-title {
  font-size: 35px;
  font-weight: 800;
  margin: 0;
}

.help-section .app-info-card-description {
  font-size: 18px;
  margin: 0 15px;
}

.help-section .overlay .btn {
  margin-top: 15px;
  padding-top: 8px;
  font-size: 18px;
  min-height: 40px;
  white-space: normal;
}

.help-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.help-content {
  padding-top: 20px;
  width: 900%;
}

.help-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 1rem;
  height: 75%;
}

.help-button {
  width: 100%;
}

.help-button a {
  /* margin:5px 5px 5px 0px; */
  font-size: 22px;
  border-radius: 20px;
  margin: 0.5rem auto;
  width: auto;
  max-width: 400px;
  white-space: normal;
}

#parent-help .help-cont-logo:nth-child(2) {
  max-height: 90px;
}

.help-img {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

.help-img2 {
  max-height: 500px;
  max-width: 100%;
}

@media (max-width: 1392px) {
  .help-container {
    margin-top: 50px;
  }
}

@media (max-width: 1200px) {
  #help {
    margin-bottom: 90px;
  }

  .help-content {
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .help-container {
    margin-top: -20px;
  }

  #help-img {
    margin-top: -90px;
  }

  #help-button {
    max-width: 405px;
  }
}
@media (max-width: 992px) {
  #help .wrapper {
    padding: 0;
  }

  /*  */
  /*  */
  /*  */
}

@media (max-width: 991px) {
  .help-img2 {
    margin: 0 215px;
  }

  .helpP {
    text-align: center;
  }

  .help-container {
    margin-top: 100px;
  }

  .help-title {
    text-align: center;
  }

  .app-info-card-description {
    text-align: center;
  }

  .help-content {
    margin-right: auto;
    margin-left: auto;
  }

  /* .center-block { */
  /* padding: 2rem 0; */
  /* margin: 0 auto; */
  /* } */

  .helpImgContainer {
    padding: 0;
    margin-top: 25px;
  }

  .display-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 940px) {
  .help-img2 {
    margin: 0 150px;
  }
}

@media (max-width: 767px) {
  .help-img2 {
    margin: 0 100px;
  }
  .help-container {
    margin-top: -100px;
  }

  #help-img {
    margin-top: 40px;
  }

  #help-button {
    width: 100%;
    min-width: 250px;
  }
}

@media (max-width: 546px) {
  .help-img2 {
    margin: 0 50px;
  }
  .help-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 518px) {
  .col-md-6 {
    float: none;
  }
}

@media (max-width: 470px) {
  .help-img2 {
    margin: 0 25px;
  }
  .help-container {
    margin-top: -20px;
  }
}

@media (max-width: 370px) {
  .help-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.help-cont-logo {
  max-height: 75px;
  padding-left: 10px;
  padding-right: 10px;
}

/* mission statement section */
.missionStyle {
  margin: 0 12px;
  background: #8ac4d050;
  border-radius: 20px;
  max-width: 1055px;
}

@media (max-width: 767px) {
  .missionStyle {
    margin: 0;
  }
  section.features .features-text {
    padding: 0 10px;
  }
}
/*help-------------------------------------------*/

.help-form {
  font-family: "Roboto", sans-serif;
  max-width: 500px;
  padding: 25px;
  background: #ffffff;
  margin: 25px auto 50px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
}

.help-form input[type="text"],
.help-form input[type="date"],
.help-form input[type="datetime"],
.help-form input[type="email"],
.help-form input[type="number"],
.help-form input[type="search"],
.help-form input[type="time"],
.help-form input[type="url"],
.help-form input[type="password"],
.help-form textarea,
.help-form select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* outline: none; */
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  background: transparent;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  height: 45px;
}

.help-form textarea {
  resize: none;
  overflow: hidden;
}

.help-form input[type="button"],
.help-form input[type="submit"] {
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
  max-width: 130px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: scroll;
}

.help-section > .overlay {
  height: 60%;
}

@media (max-width: 768px) {
  .help-section > .overlay {
    height: auto;
  }
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  padding: 20px;
  background: #edeef2ff;
  border-radius: 40px;
  width: 100%;
  transition: all 0s ease-in-out;
  height: auto;
}

.popup .col-sm-6 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 500px) {
  .popup-teacher {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1357px) {
  #mta-popup-img {
    margin-top: 200px;
  }
}
@media (max-width: 1356px) {
  #mta-popup-img {
    margin-top: 136px;
  }
}

.more-than-an-app-mobile .main-title {
  margin-top: 0;
}

.more-than-an-app-desktop .col-lg-12 {
  padding: 0;
}

.more-than-an-app-desktop .col-md-6 {
  padding: 0;
}

.more-than-an-app-desktop .main-title {
  font-size: 37px;
  margin-top: 0px;
}

.more-than-an-app-desktop .sub-title {
  color: #000;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.mta-text {
  max-width: 750px;
  color: #000000;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 50px;
}

@media (min-width: 992px) {
  .more-than-an-app-mobile {
    display: none;
  }

  #app-img {
    margin-top: 20px;
  }
}

.workshop-flex-container {
  padding: 20px;
  border-radius: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  max-width: 550px;
  height: auto;
  text-align: center;
  flex-wrap: wrap;
}

.workshop-flex-container .workshop-feature-link {
  text-decoration: none;
}

.workshop-feature-item {
  color: #f5f7fa;
  width: 150px;
  height: 225px;
  border-radius: 20px;
  box-shadow: 3px 3px 9px #d5d5d5;
  /* background: linear-gradient(
      to bottom right,
      #4284BD,
      #006b8f85
    ); */
  background-color: #386f9f;
  padding: 10px;
  margin: 5px;
  transition: 0.5s;
}

.workshop-feature-icon-image {
  width: 20px;
  height: 20px;
}

.workshop-feature-image {
  width: 75px;
  height: 75px;
  margin-top: 20px;
}
