.main-title {
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

.covid-resource-info {
  text-align: center;
  margin: 0.25em auto;
}

.handbook-widget {
  display: flex;
  justify-content: center;
}

.covid-info {
  margin: 2rem 0;
}

.covid-link2 {
  color: #0a5f93;
}

.covid-link2:hover {
  color: #f17014;
}

.covid-link2 {
  word-wrap: break-word;
}

@media (max-width: 899px) {
  .covid-section {
    padding: 5% 25px;
  }
}

@media (max-width: 425px) {
  .covid-feater-mobile-instr {
    opacity: 1;
  }
}

.responsive {
  margin: 5rem auto;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 899px) {
  .responsive {
    width: 100%;
  }
}

@media (max-width: 590px) {
  .responsive {
    height: 255px;
  }
}

@media (max-width: 475px) {
  .responsive {
    height: 420px;
  }
}

@media (max-width: 410px) {
  .responsive {
    height: 400px;
  }
}

@media (max-width: 398px) {
  .responsive {
    height: 380px;
  }
}

.covid-blm-iframe {
  width: 100%;
  height: 500px;
  border-radius: 25px;
  margin-inline: auto;
}

@media (max-width: 612px) {
  .covid-blm-iframe {
    height: 30vh;
  }
}
