section.survey {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/bg-cta.png");
  padding: 250px 0;
}

section.survey .survey-content {
  position: relative;
  z-index: 1;
}

section.survey .survey-content h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #fff;
  max-width: 450px;
}

section.survey .overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
