/* Volunteer Page */

.volunteer-section {
  margin-top: 3em;
  padding-bottom: 0;
  background: linear-gradient(
    to bottom left,
    rgb(0, 152, 238),
    rgb(0, 76, 143)
  );
}

.volunteer-section .volunteer-heading {
  font-size: 55px;
  color: #fff;
  text-align: center;
  margin: 50px 0;
}

.volunteer-section .volunteer-highlights {
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  padding-top: 70px;
  display: grid;
  justify-content: center;
}

.volunteer-section .volunteer-highlights .wrapper {
  margin: 0 auto;
}

.volunteer-section .volunteer-highlights .col-md-6:nth-child(1) {
  padding: 0px;
}

.volunteer-section .volunteer-highlights .volunteer-highlights-image-container {
  margin: auto;
  max-width: 600px;
}

.volunteer-section .volunteer-highlights .volunteer-card {
  max-width: 600px;
  background: #ffffff;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px 20px 10px 20px;
}

.volunteer-section .volunteer-card .main-title {
  font-size: 23px;
  margin-top: 10px;
  font-weight: 700;
}

.volunteer-section .volunteer-card #app-info-card-description {
  font-weight: 300;
  color: #000;
  line-height: 1.12;
}

.volunteer-section .volunteer-positions-section {
  padding: 0 0 100px;
}

.volunteer-section .volunteer-positions-section .wrapper {
  padding: 0 20px;
}
/* volunteer-opportunities.html */

.volunteer-section {
  background: linear-gradient(to bottom left, #2baaed, #0a5f93);
  padding-bottom: 0px;
  color: white;
}
.volunteer-section .volunteer-heading {
  font-weight: 600;
  font-size: 55px;
  color: white;
  margin: 70px;
}

.volunteer-section .volunteer-subheading-section {
  display: flex; 
  flex-direction: row; 
  margin-top: 3em;
}

.volunteer-grid {
  display: grid;
  -ms-display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1100px;
  margin: 2rem auto;
}

.volunteer-grid-item {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.16);
  max-width: 500px;
  min-width: 250px;
  padding: 25px;
  height: 95%;
  margin: 2rem;
  color: black;
}


.volunteer-placement {
  color: black;

}

.volunteer-placement-item-title {
  margin: 1em;
}

.volunteer-placement-item-paragraph{
  margin-top: 1em;
}

.volunteer-placement-sentence {
  margin-left: 2em;
  margin-top: 2em;
}

.volunteer-placement-apply-button {
  background: linear-gradient(to bottom right, #f17014, #ffc400);
  color: white;
}


.volunteer-opportunities-flex-container .volunteer-opportunities-feature-link {
  text-decoration: none;
}

.volunteer-opportunities-feature-item {
  color: #fff;
  width: 150px;
  height: 225px;
  border-radius: 35px;
  box-shadow: 3px 3px 9px #d5d5d5;
  background: linear-gradient(
    to bottom right,
    rgb(20, 90, 241),
    rgb(0, 225, 255)
  );
  padding: 10px;
  margin: 5px;
  transition: 0.5s;
  display: flex; 
  align-items: center;
}

.volunteer-opportunities-feature-content {
  margin-top: -22.5px;
  transform: scale(0.8);

}

.volunteer-opportunities-img {
  width: 50%; 
  height: auto; 
  border-radius: 30px;

}

.formal-volunteering-item {
  list-style-type: disc;
  list-style-position: outside;
  text-align: left;
  margin-left: 2em;
  margin-top: 1em;
}

.volunteer-placement-img{
  width: 50%;
  height: auto;
  border-radius: 30px;
}

.volunteer-placement-item {
  display: flex;
  flex-direction: row;
}

.volunteer-opportunities-heading {
  font-size: 55px;
  color: #fff;
  text-align: center;
  margin: 50px 0;
}



/* Mobile Devices */

@media (max-width: 768px ) {
  .volunteer-opportunities-heading {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin: 50px 0;
  }
  .volunteer-opportunities-high-school-subheading {
    text-align: left;
  }
  
  .volunteer-section .volunteer-subheading-section {
    display: block;
    text-align: center;
    
  }
  
  .volunteer-opportunities-img{
    border-radius: 30px;
    width: 100%;
    height: auto;
    margin-top: 2em;
    text-align: left;

  }

  .volunteer-placement-item {
    display: flex;
    flex-direction: column;
  }

  .volunteer-placement-item .placement-image-container .volunteer-placement-img{
    margin-top: 1em;
    width: 100%;
    height: auto;
  }

  .placement-image-container{
    display: flex;
    justify-content: center;
  }

  .volunteer-placement-sentence {
    margin-top: 2em;
  }
  /* .volunteer-placement-title {
    text-align: left;
  } */
}