.volunteer-section {
  background: linear-gradient(to bottom left, #2baaed, #0a5f93);
  padding-bottom: 0px;
  color: white;
}
.volunteer-section .volunteer-heading {
  font-weight: 600;
  font-size: 55px;
  color: white;
  margin: 70px;
}

@media (min-width: 769px) {
  .volunteer-section .volunteer-opportunities-high-school-subheading {
    text-align: left;
    margin-left: 4em;
    margin-top: 6em;
    position: relative;
    top: 3em;
  }

  .volunteer-section .volunteer-subheading-section {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    margin-left: 4em;
    margin-right: 4em;
  }

  .volunteer-section .volunteer-paragraph {
    margin-top: 3em;
    text-align: left;
    margin-left: 4em;
  }

  .volunteer-section .volunteer-paragraph {
    margin-top: 3em;
    text-align: left;
    width: 75%;
    position: relative;
    top: 1em;
  }
}

.volunteer-section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.volunteer-section .not-volunteer-requirement {
  margin: 1em 4em;
  padding-bottom: 3em;
}

.volunteer-section .volunteer-paragraph {
  margin-top: 3em;
  text-align: left;
}

.community-service-req-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.volunteer-grid {
  display: grid;
  -ms-display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  max-width: 1100px;
  margin-left: 2em;
}

.volunteer-grid-item {
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.16);
  max-width: 500px;
  min-width: 250px;
  padding: 20px;
  height: 95%;
  color: black;
  margin-bottom: 1em;
  margin-right: 3em;
}

.volunteer-placement .volunteer-placement-title {
  font-size: 3em;
}

.volunteer-placement .volunteer-placement-item-title {
  margin: 1em;
  font-weight: bold;
  font-size: 1.3em;
}

.volunteer-placement .volunteer-placement-item-paragraph {
  margin-top: 1em;
  font-size: 1.1em;
  position: relative;
  left: -0.4em;
}

.volunteer-placement .volunteer-placement-form-link {
  color: #f07013;
}

.volunteer-placement-sentence {
  margin-left: 2em;
  margin-top: 2em;
}

.volunteer-opportunities-flex-container .volunteer-opportunities-feature-link {
  text-decoration: none;
}

.volunteer-opportunities-feature-content {
  margin-top: -22.5px;
  transform: scale(0.8);
}

.volunteer-benefits-students-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

@media (min-width: 769px) {
  .volunteer-benefits-students-grid {
    margin-left: 4em;
    margin-right: 1em;
    margin-bottom: 2em;
  }
}

.volunteer-benefits-students-grid .volunteer-benefits-student-grid-item {
  background: #d3d8dc;
  border-radius: 20px;
  min-height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

@media (min-width: 769px) {
  .volunteer-opportunities-img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 0;
    position: relative;
    object-fit: contain;
    top: 0;
    left: 0;
  }
}

.formal-volunteering-item {
  background: url("/img/checkmark-icon.png") no-repeat left top;
  background-size: 15px;
  height: 15px;
  padding-left: 2em;
  margin-top: 3em;
}

/* desktop view */
@media (min-width: 769px) {
  .not-volunteer-requirement {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .volunteer-placement-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10em;
  }

  .community-service-req-grid-paragraph {
    padding-bottom: 2em;
    padding-top: 2em;
  }
}

@media (min-width: 1141px) {
  .volunteer-opportunities-student-title-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
  }
}

@media (max-width: 1140px) {
  .volunteer-opportunities-student-title-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 1340px) {
  .volunteer-placement-img {
    width: 140%;
    height: auto;
    border-radius: 30px;
    margin-left: 3em;
    position: relative;
    top: 1em;
  }
}

@media (min-width: 1341px) {
  .volunteer-placement-img {
    width: 140%;
    height: auto;
    border-radius: 30px;
    position: relative;
    top: 1em;
  }
}

@media (min-width: 769px) and (max-width: 1140px) {
  .volunteer-opportunities-hs-student-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .volunteer-opportunities-img {
    border-radius: 30px;
    width: 75%;
    height: auto;
    margin-top: 3em;
    text-align: left;
    margin-left: 8em;
  }
}

@media (min-width: 1141px) {
  .volunteer-opportunities-hs-student-section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .volunteer-opportunities-img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    margin: 2em;
  }
}

.volunteer-placement-item {
  display: flex;
  flex-direction: row;
}

.volunteer-opportunities-heading {
  font-size: 55px;
  color: #fff;
  text-align: center;
  margin: 50px 0;
}

.placement-image-container {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .volunteer-section {
    margin-top: 3em;
    background: linear-gradient(to bottom left, #2baaed, #0a5f93);
    padding-bottom: 0px;
    color: white;
  }

  .volunteer-opportunities-heading {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin: 50px 0;
  }
  .volunteer-opportunities-high-school-subheading {
    text-align: left;
  }

  .volunteer-section .volunteer-subheading-section {
    display: block;
    text-align: left;
  }

  .volunteer-opportunities-hs-student-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .volunteer-placement-item {
    display: flex;
    flex-direction: column;
  }

  .volunteer-placement-item
    .placement-image-container
    .volunteer-placement-img {
    margin-top: 1em;
    width: 100%;
    height: auto;
    border-radius: 30px;
  }

  .placement-image-container {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .volunteer-placement-sentence {
    margin-top: 2em;
    text-align: left;
  }

  .volunteer-benefits-students-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 2em;
  }

  .not-volunteer-requirement {
    display: flex;
    flex-direction: column;
  }

  .not-volunteer-requirement-section-container-fluid
    .not-volunteer-requirement
    .volunteer-grid-items {
    margin-bottom: 2em;
    margin-top: 1em;
    text-align: left;
    margin-right: 2em;
  }

  .not-volunteer-requirement-section-container-fluid {
    text-align: left;
  }

  .volunteer-benefits-section {
    display: flex;
    justify-content: flex-start;
  }

  .volunteer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0em;
  }

  .volunteer-grid .volunteer-grid-item {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.16);
    max-width: 500px;
    min-width: 250px;
    padding: 15px;
    height: 95%;
    color: black;
    margin-bottom: 2em;
    margin-right: 0em;
  }

  .community-service-req-grid-paragraph {
    width: 100%;
  }

  .volunteer-opportunities-img {
    width: 90%;
    height: auto;
    border-radius: 30px;
  }

  .volunteer-benefits-student-grid-item {
    margin-left: 0;
  }
  .container-fluid {
    padding: 0;
  }
  .col-lg-6 {
    padding: 0;
    margin: 0;
  }

  #app-info-card-title {
    padding: 0;
  }

  .volunteer-benefits-students-grid .volunteer-benefits-student-grid-item {
    margin: 1em 0;
  }

  .volunteer-placement .btn-l {
    margin-bottom: 1em;
  }
}
