body,
html {
  background-color: #faa52d;
  color: white;
}

.csc-header {
  padding-top: 66px;
  display: grid;
  -ms-display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  max-width: 1200px;
}

img {
  max-width: 100%;
}

.csc-title {
  font-weight: bold;
  font-size: 75px;
  font-family: League Spartan;
}

.csc-subtitle {
  font-size: 40px;
  font-family: League Spartan;
}

.csc-text {
  font-size: 23px;
  font-family: Lato;
}

.csc-link {
  text-decoration: underline;
  color: white;
}

.round-box,
.landing-btn-last {
  border: none;
  background-color: #f07015;
  color: white;
  padding: 20px;
  max-width: max-content;
}

.bottom-box {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 18px;
}

.accordion {
  background-color: #f07015;
  cursor: pointer;
  font-size: 23px;
  font-family: League Spartan;
  padding: 10px;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.panel {
  background-color: #faa52d;
  display: none;
  font-size: 18px;
  font-family: Lato;
  box-shadow: none;
}

.panel li {
  list-style-type: disc;
  margin-left: 20px;
  border: none;
  outline: none;
}

.landing-btn-last,
.round-box {
  border-radius: 1rem;
}

.span-content {
  font-size: 17px;
  font-weight: 500;
}

.landing-last {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sponsors {
  font-size: 0.7rem;
}

@media (min-width: 900px) {
  .details-section {
    display: flex;
    align-items: center;
  }
}
